* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    box-sizing: border-box;
}

body {
    width: 1300px;
    display: flex;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}

img {
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover; /* Ajusta a imagem dentro do círculo */
    
    
}

.image{
    
    margin: 0 auto;
    margin-top: 20px;
    max-width: 50%;
   
}

.container {
    color:aliceblue;
    max-width: 50vh;
    margin: 5% auto;
    background-color: hsl(0, 0%, 12%);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}

.user {
    text-align: center;
    padding: .5rem;
}

.user h6 {
    color: hsl(75, 94%, 57%);
    padding: .5rem;
}

.user p {
    font-weight: 200;
    font-size: 15px;
}

.links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    

}

.link {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    cursor: pointer;
    text-align: center;
    transition: 0.4ms;
    box-shadow: inset;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.link:hover {
    color: hsl(75, 94%, 57%);
    background-color: hsl(0, 0%, 20%);
}

